@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/proxima-nova-regular.eot?");
}
@font-face {
  font-family: "ProximaNovaSemibold";
  src: url("../fonts/proxima-nova-semibold.eot?");
}
@font-face {
  font-family: "ProximaNovaItalic";
  src: url("../fonts/proxima-nova-regular-italic.eot?");
}
@font-face {
  font-family: 'ProximaNovaRegular';
  src: local('â˜º'), url('../../fonts/proxima-nova-regular.woff') format('woff');
  src: url('../fonts/proxima-nova-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima-nova-regular.woff') format('woff'), url('../fonts/proxima-nova-regular.ttf') format('truetype'), url('../fonts/proxima-nova-regular.svg#svgProximaNovaRegular') format('svg');
}
@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('../fonts/proxima-nova-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima-nova-semibold.woff') format('woff'), url('../fonts/proxima-nova-semibold.ttf') format('truetype'), url('../fonts/proxima-nova-semibold.svg#svgProximaNovaSemibold') format('svg');
}
@font-face {
  font-family: 'ProximaNovaItalic';
  src: url('../fonts/proxima-nova-regular-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima-nova-regular-italic.woff') format('woff'), url('../fonts/proxima-nova-regular-italic.ttf') format('truetype'), url('../fonts/proxima-nova-regular-italic.svg#svgProximaNovaItalic') format('svg');
}
.navbar {
  background-color: #293d5d;
  border: 0px;
  color: #ffffff;
  border-radius: 0px;
  height: 50px;
  margin-bottom: 0px;
}
.nav-link {
  padding-top: 16px;
}
.nav-link > li > a:link {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #ffffff;
}
.nav-link > li > a:visited {
  color: #ffffff;
  background-color: transparent;
}
.nav-link > li > a:hover {
  color: #e6e6e6;
  text-decoration: none;
  background-color: #293d5d;
}
.nav-link > li > a:active {
  color: #ffffff;
}
.nav-link > li > a:focus {
  background-color: transparent;
}
.navbar-brand {
  color: #fff;
  font-family: ProximaNovaRegular;
  padding: 7px 15px;
  font-size: 24px;
}
.navbar-brand a {
  padding-right: 15px;
}
.navbar-brand:link {
  color: #fff;
}
.navbar-brand:hover {
  color: #e6e6e6;
  text-decoration: none;
}
.navbar-brand img {
  display: inline;
}
@media (max-width: 768px) {
  .navbar-collapse {
    background-color: #333;
    box-shadow: 0 3px 4px 1px #2c5086;
  }
  .navbar-collapse li {
    font-size: 24px;
    text-align: right;
  }
  .navbar-collapse li a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.flex-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* align vertical */
}
.flex-row {
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.flex-column {
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.icons {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
.icons div {
  margin-top: 32px;
  padding: 20px;
  margin-right: 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 200px;
  max-width: 230px;
  height: 110px;
  overflow: wrap;
  word-wrap: break-word;
  border: 1px solid #D1E6F0;
  border-radius: 5px;
}
.icons div p {
  font-family: ProximaNovaSemibold;
  color: #4FA5C4;
  text-align: center;
  padding-top: 10px;
}
.icons div img {
  margin-left: 45%;
  margin-right: auto;
  vertical-align: center;
  height: 32px;
  width: auto;
}
